{% extends "layouts/base" %}

{% block content %}
  <header>
    <div class="shape shape--header">
      <img src="{{ siteUrl }}public/assets/images/london.jpg" alt="">
    </div>

    <div class="header__intro">
      <div class="type--large type--bold">404</div>
    </div>
  </header>

  <div class="container">
    <h2 class="type--medium type--boldcaps">Ooops! This page doesn't exist (anymore).</h2>
    <p>I'm in the process of migrating all my old blog posts into a new system</p>
  </div>
{% endblock %}
