{% extends "layouts/base" %}
{% set work = craft.entries.section('work').limit(4) %}

{% block content %}
  <header>
    <div class="shape shape--header">
      <img src="../assets/images/london.jpg" alt="">
    </div>

    <div class="header__intro">
      <div class="type--large type--bold">{{ entry.heading }}</div>
      <div class="type--small type--italic">{{ entry.introduction }}</div>
    </div>
  </header>

  {% if work %}
    <div class="container">
      <h2 class="type--medium type--boldcaps">Work</h2>

      <div class="grid">
        {% for item in work %}
          <a href="{{ item.websiteUrl }}" rel="nofollow" class="item">
            <div class="item__image">
              <img src="{{ item.thumbnailImage.first().url }}" alt="" />
            </div>
            <div class="item__desc">
              <h3 class="type--bold bg--{{ item.titleBackgroundColour }}">{{ item.title }}</h3>
              <p class="bg--{{ item.subtitleBackgroundColour }}">{{ item.subtitle }}</p>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}

{% endblock %}
