{% set title = entry.title ~ ' — Joyce Van Herck' %}

<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js lt-ie9"><![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class=""><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="{{ metaDescription }}" />
  <meta name="keywords" content="{{ metaKeywords }}" />
  <meta property="og:title" content=" {{ title }}" />
  <meta property="og:description" content="{{ metaDescription }}" />
  <meta property="og:image" content="{{ siteUrl }}public/assets/images/joyce.png" />
  <meta property="og:url" content="{{ entry.url }}" />

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" media="all" href="public/assets/stylesheets/application.css" />

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49972444-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-49972444-1');
  </script>

</head>
<body>

  {% block content %}{% endblock %}

  <footer class="shape shape--footer">
    {% include 'shared/social_icons_sprite' %}
    <div class="footer__wrapper">
      <div class="footer__social">
        <a href="http://www.linkedin.com/in/joycevanherck" aria-label="LinkedIn">
          <svg class="footer__social-icon">
            <use xlink:href="#linkedin" />
          </svg>
        </a>
        <a href="https://www.instagram.com/joycevherck/" aria-label="Instagram">
          <svg class="footer__social-icon">
            <use xlink:href="#instagram" />
          </svg>
        </a>
        <a href="https://www.twitter.com/joycevherck" aria-label="Twitter">
          <svg class="footer__social-icon">
            <use xlink:href="#twitter" />
          </svg>
        </a>
      </div>
      <a class="type--bold" href="mailto:hello@joycevherck.com">hello@joycevherck.com</a>

      <p>&copy; Joyce Van Herck</p>

    </div>
  </footer>

</body>
</html>
