.bg--white {
  background-color: colour('white');
  color: colour('black');
}

.bg--black {
  background-color: colour('black');
  color: colour('white');
}

.bg--red {
  background-color: colour('red');
  color: colour('white');
}

.bg--beige {
  background-color: colour('beige');
  color: colour('black');
}

.bg--orange {
  background-color: colour('orange');
  color: colour('black');
}

.bg--green {
  background-color: colour('green');
  color: colour('white');
}

.bg--light-green {
  background-color: colour('light-green');
  color: colour('black');
}
