header {
  @include clearfix;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.header__intro {
  @include spacing('padding', 'space-l');
  position: absolute;
  top: 15%;
  color: colour('white');
  width: 50%;

  @include respond-to('mobile') {
    top: 0;
    width: 75%;
  }
}
