.item {
  position: relative;
  grid-column: span 2;
}

.item__image img {
  width: 100%;
  display: block;
}

.item__desc {
  position: absolute;
  left: $space-m;
  bottom: $space-m;

  @include respond-to('mobile') {
    left: $space-mb-m;
    bottom: -$space-mb-m;
  }

  h3,
  p {
    padding: $space-xs $space-s;
  }

  h3 {
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    display: inline-block;
    position: relative;
    z-index: 5;
  }

  p {
    clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    margin-top: -10px;
    margin-left: $space-s;
    margin-bottom: 0;
    position: relative;
    z-index: 4;

    @include respond-to('tablet') {
      @include font-size(14);
    }
  }
}
